form {
    margin-top: 3%;
    margin-bottom: 10%;
}

label {
    float: left;
    display: block;
    width: 165px;
}

input {
    float: left;
    display: block;
    width: 20ch;
    border: solid dodgerblue 3px;
    border-radius: 5px;
    margin-right: 10px;
    font-family: 'Roboto Mono', monospace;
}

textarea, select {
    border: solid dodgerblue 3px;
    border-radius: 5px;
    margin-right: 10px;
    font-family: 'Roboto Mono', monospace;
}

textarea, .enum{
    width: 20ch;
}

input[type=reset] {
    display: inline-block;
    width: 135px;
    margin-right: 30px;
    border-color: orange;
}

input[type=submit] {
    display: inline-block;
    border-color: green;
}

.error {
    display: block;
    color: red;
}

.red {
    color: red;
}

input[type=submit].deleteAccount {
    width: auto;
    border-color: red;
}