header {
    /* position: fixed;
    top: 0;
    width: 100%; */
    overflow: hidden;
    font-size: 1.5em;
    background-color: rgb(41, 41,41);
    /* padding: 0.5em 0.4em; */
    border-bottom: 2px solid gray;
}

header > * {
    margin: .5em .4em;
}

header a {
    float: left;
    color: white;
    text-align: center;
    padding: .3em;
    text-decoration: none;
    border-radius: 5px;
}

header a:hover {
    background-color: gray;
}

header a.active {
    background-color: dodgerblue;
}

.header-right {
    float: right;
}

.header-right a {
    margin-left: 0.5em;
}

@media (max-width: 600px) {
    header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }

    .header-right a {
        margin-left: 0;
    }
}