@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

.center-container {
    background: rgb(41, 41,41);
    color: white;
    height: calc(100% - 1.5em*2 - .5em*2 - .3em*2 + 1px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center-container-animated {
    animation: scrollindicator 2.5s ease .5s both;
}

.center-container h1 {
    margin: 0;
    font-size: 5em;
}

.center-container-h1-animated {
    animation: dimtext 2.5s ease-in-out .5s both,
                flashtext 1s ease-in-out 3.4s 2 forwards,
                showtext .3s ease-in-out 5.4s forwards;
}

.custom-padding {
    padding: 3% 10%;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-item {
    flex: 50%;
}

.customer-tag, .customer-data {
    display: inline-block;
    margin-block-start: 0;
    margin-block-end: 0;
}

.customer-tag {
    width: 165px;
}

.supplier-tag, .supplier-data {
    display: inline-block;
    margin-block-start: 0;
    margin-block-end: 0;
}

.supplier-tag {
    width: 165px;
}

a.blue {
    color: dodgerblue;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1200px) {
    .flex-container {
        flex-direction: column;
    }
}

@keyframes scrollindicator {
    0% {
        height: calc(100% - 1.5em*2 - .5em*2 - .3em*2 + 1px);
    }
    50% {
        height: calc(80% - 1.5em*2 - .5em*2 - .3em*2 + 1px);
    }
    100% {
        height: calc(100% - 1.5em*2 - .5em*2 - .3em*2 + 1px);
    }
}

@keyframes dimtext {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes flashtext {
    0%, 10% {
        opacity: 0;
    }
    40%, 60% {
        opacity: 1;
    }
    90%, 100% {
        opacity: 0;
    }
}

@keyframes showtext {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}