.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: calc(100% - 1.5em*2 - .5em*2 - .3em*2 + 1px);
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    font-size: 1em;
    text-decoration: none;
}
 
.sidebar a.active {
    background-color: dodgerblue;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 200px;
    height: calc(100% - 1.5em*2 - .5em*2 - .3em*2 + 1px);
    overflow: auto;
}

.account-nav {
    background-color: lightgray;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: calc(1em + 2*16px + 6px);
}
.signout, .signin, .user-side {
    background-color: lightgray;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
}

.hidden {
    visibility: hidden;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        overflow-x: auto;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }

    a.signout, a.signin, a.user-side, a.account-nav {
        margin-left: 1px;
        position: static;
        left: auto;
        float: right;
    }
}

@media screen and (max-width: 600px) {
    .sidebar a {
        position: static;
        text-align: center;
        float: none;
    }
}