.table-parent {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

th {
    background-color: gray;
    text-align: left;
}

tr {
    border-bottom: 1px solid gray;
}

tr:hover {
    background-color: rgba(30, 143, 255, 0.26);
}